Implement 0x0005 (VOPRF ristretto) as single issuance

At the moment, we only implement 0x0005 as part of batch issuance. This makes sense as this was added for batched issuance.

We should consider implementing standalone RFC9578 Section 2 TokenRequest and TokenReponse for type 0x0005.